.form {
  background-color: white;
  margin-top: 40px;
  padding: 10px; /* Slightly reduced padding */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Lighter shadow for less emphasis */
  width: 100%; /* Use the full width of the parent container */
  box-sizing: border-box; /* Includes padding in the element's width */
  display: flex;
  flex-direction: column;
  gap: 10px; /* Reduced gap for compact form */
}

input,
textarea {
  font-family: Arial, sans-serif;
  padding: 8px; /* Comfortable padding, but conserves space */
  border-radius: 10px; /* Consistent with form style */
  border: 1px solid #ccc; /* Subtle border */
  width: 95%; /* Ensures no overflow */
}

button {
  align-self: center; /* Keeps button centered horizontally */
  margin-top: 20px; /* Adds space above the button */
  margin-left: 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #472264;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

