.profile-info {
  display: flex;
  margin-top: 20px;
  gap: 20px;
  background-color: #e4e0ee;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-tabs {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  gap: 10px;
  padding: 10px 0;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}

.profile-tabs::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.profile-tabs button {
  align-self: center; /* Keeps button centered horizontally */
  margin-top: 20px; /* Adds space above the button */
  font-weight: bold;
  margin-left: 10px;
  padding: 10px 20px;
  font-size: 16px;
  color: #401f68;
  background-color: #e4e0ee;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.profile-page button:hover {
  background-color: #9435bd;
}

.profile-info img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.text-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

p {
  color: #472264;
}

.text-info h2,
.text-info p {
  margin: 0; /* Remove default margins */
}
