/* .header-container {
  margin: 1rem 1rem 0;
}

.header-container h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #401f68;
  margin-bottom: 0.5rem;
} */

/* Header section with greeting text */

.header h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

.header-buttons {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.header-icon {
  border: none;
  background: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #401f68;
  cursor: pointer;
}

.header-icon:hover {
  color: #2e1745;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #2d2546;
  color: white;
}

.header-title {
  margin: 0;
  font-size: 1.5rem;
}

.header-user {
  --user-button-avatar-size: 35px;
}
