.navbar-buttons {
  display: flex;
  /* You can use space-evenly or even remove it entirely when each item is equal width */
  justify-content: space-evenly;

  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.1rem;
  padding-right: 0rem;
  background-color: #e4e0ee;

  border-radius: 20px;


  bottom: 0;
}

.nav-icon {
  flex: 1; /* Make each icon container take equal space */
  display: flex;
  align-items: center; /* Vertical centering */
  justify-content: center; /* Horizontal centering */
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #401f68;
}

.nav-icon:hover {
  color: #ffffff;
}

.icon {
  font-size: 1.25rem;
  width: 1.25rem; /* Forces the SVG to a fixed width */
  height: 1.25rem; /* Forces the SVG to a fixed height */
}
