@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&display=swap");

/* Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styling */
body {
  font-family: "Lexend", sans-serif;
  background-color: #f8f9fc; /* Light background */
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Utility classes (optional) */
.hidden {
  display: none !important;
}
.text-center {
  text-align: center;
}
.mt-1 {
  margin-top: 1rem;
}
.mb-1 {
  margin-bottom: 1rem;
}
