.layout-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.layout-content {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
}

.app-wrapper {
  background-color: rgb(23, 8, 42);
  display: flex;
  justify-content: center;
  height: 100vh;
}

.inner-container {
  background-color: #0f0721;
  max-width: 450px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  border: 1px solid;
  border-radius: 20px; /* optional: add rounded corners */
}

.scrollable-content {
  flex: 1;
  overflow-y: auto;
  padding: 0;
}

.scrollable-content::-webkit-scrollbar {
  width: 5px; /* Thickness of the scrollbar */
}

.scrollable-content::-webkit-scrollbar-track {
  background: #0f0721; /* background behind the scrollbar */
  border-radius: 10px;
}

.scrollable-content::-webkit-scrollbar-thumb {
  background-color: #36295d; /* scrollbar handle */
  border-radius: 10px;
  border: 1px solid #1a112f; /* optional: creates spacing around thumb */
}
