.layout-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .layout-content {
    flex: 1;
    overflow-y: auto;
    padding: 1rem;
  }

  .app-wrapper {
    background-color: white;
    display: flex;
    justify-content: center;
    height: 100vh;
  }
  
  .inner-container {
    background-color: #E4E0EE;
    max-width: 400px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 0; /* optional: add rounded corners */
  }
  
  .scrollable-content {
    flex: 1;
    overflow-y: auto;
    padding: 1rem;
  }
  
  